<div class="col-auto">
    <input type="text"
           class="form-control"
           placeholder="Selecciona mes"
           data-component="month-datepicker"
           data-path="{{ path('transactioncategory_index') }}">
</div>
<div class="col-auto">
    <a class="btn btn-primary text-white" href="{{ path('transactioncategory_new') }}">
        {{ source('icons/plus.svg') }} Categoría
    </a>
</div>
