<div class="col-auto">
    <div class="card-header-action">
        <a class="btn btn-primary text-white" href="{{ path('transactioncategory_new') }}">
            {{ source('icons/plus.svg') }} Categoría
        </a>
    </div>
</div>
