<div class="modal hide" tabindex="-1" aria-hidden="true" data-component="modal-edit-task">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form method="post" class="modal-content" data-id="">
            <div class="modal-header">
                <h5 class="modal-title">Editar tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hide" data-component="error-message"></div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <label for="title">Título</label>
                        <div class="input-group">
                            <input id="title" name="title" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <label for="date">Fecha</label>
                        <div class="input-group">
                            <input id="date"
                                   name="date"
                                   class="form-control"
                                   type="text"
                                   data-component="datepicker"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <div class="form-check form-switch">
                            <input id="status" class="form-check-input" type="checkbox" name="status">
                            <label class="form-check-label" for="status">¿Realizada?</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary text-white">Editar</button>
                <button type="button" class="btn btn-secondary text-gray ml-auto" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </form>
    </div>
</div>
