<div class="col-auto">
    <div class="card-header-action">
        <button class="btn btn-primary text-white" data-component="open-modal-tags">
            {{ source('icons/tags.svg') }}
            Etiquetas
        </button>
    </div>
</div>
