@import 'vendors/portal';
@import 'vendors/fullcalendar/main.min.css';
@import 'vendors/datepicker/datepicker.min.css';
@import 'vendors/notyf/notyf.min.css';
@import 'vendors/easymde/easymde.min.css';
@import 'vendors/choices/choices.min.css';
@import 'vendors/flatpickr/flatpickr.min.css';

@import 'components/pace.css';
@import 'components/editorjs.css';
@import 'components/fullcalendar.css';
@import 'components/datepicker.css';
@import 'components/suggestify.css';
@import 'components/slideshow.css';
@import 'components/markdown_editor';
@import 'components/fortawesome';

@import 'custom';
