@import 'vendors/portal';
@import 'vendors/fullcalendar/main.min.css';
@import 'vendors/datepicker/datepicker.min.css';

@import 'components/pace.css';
@import 'components/editorjs.css';
@import 'components/fullcalendar.css';
@import 'components/datepicker.css';
@import 'components/suggestify.css';
@import 'components/slideshow.css';

@import 'custom';
