.hide {
    display: none;
}

.icon {
    font-size: 1.25rem;
    width: 24px;
    height: 24px;
}

.bg-none {
    background-color: transparent;
}

/* pace library */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #15a362;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
}

/* fullcalendar library */
.fc-button {
    background-color: #15a362 !important;
    border-color: #15a362 !important;
}

.fc-button:hover {
    background-color: #18ba70 !important;
    border-color: #18ba70 !important;
}

.fc .fc-toolbar-title {
    font-size: 2.7em;
    margin-left: 20px !important;
}

.fc-next-button {
    margin-right: 20px !important;
    border-top-right-radius: .25em !important;
    border-bottom-right-radius: .25em !important;
}

.fc-dayGridDay-button {
    border-top-left-radius: .25em !important;
    border-bottom-left-radius: .25em !important;
}

.task-done .fc-event-title {
font-style: italic !important;
text-decoration: line-through !important;
}

/** datepicker library */
.datepicker-dropdown {
    z-index: 2000 !important;
}

.datepicker-cell.selected, .datepicker-cell.selected:hover {
    background-color: #15a362;
}
