.hide {
    display: none;
}

.icon {
    font-size: 1.25rem;
    width: 24px;
    height: 24px;
}

.icon-sm {
    font-size: 1.25rem;
    width: 1em;
    height: 1em;
}

.bg-none {
    background-color: transparent;
}
