.hide {
    display: none;
}

.icon {
    font-size: 1.25rem;
    width: 24px;
    height: 24px;
}

/* pace library */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #15a362;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
}

/* fullcalendar library */
.fc-button {
    background-color: #15a362 !important;
    border-color: #15a362 !important;
}

.fc-button:hover {
    background-color: #18ba70 !important;
    border-color: #18ba70 !important;
}
