.ce-block__content {
    max-width: 85% !important;
}

.codex-editor__redactor {
    padding-bottom: 100px !important;
}

.cdx-input.image-tool__caption {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    outline: none !important;
    width: 100% !important;
    text-align: center !important;
    font-size: 14px !important;
    font-style: italic !important;
}

.tc-table {
    font-size: 1rem;
}
