.fc-button {
    background-color: #15a362 !important;
    border-color: #15a362 !important;
}

.fc-button:hover {
    background-color: #18ba70 !important;
    border-color: #18ba70 !important;
}

.fc .fc-toolbar-title {
    font-size: 2.7em;
    margin-left: 20px !important;
}

.fc-next-button {
    margin-right: 20px !important;
    border-top-right-radius: .25em !important;
    border-bottom-right-radius: .25em !important;
}

.fc-dayGridDay-button {
    border-top-left-radius: .25em !important;
    border-bottom-left-radius: .25em !important;
}

.fc-day-other {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.02) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0.02) 75%, transparent 75%, transparent) !important;
    background-color: #fff !important;
    background-size: 32px 32px !important;
}

.fc-daygrid-day-number {
    padding: 0 5px !important;
    font-weight: bold !important;
    font-size: 20px !important;
    color: #808080 !important;
}

.task-done .fc-event-title {
    font-style: italic !important;
    text-decoration: line-through !important;
}

.fc-cronos-event {
    font-size: 14px !important;
}

a.fc-cronos-event:hover {
    color: #efefef !important;
    cursor: pointer;
}
