.editor-toolbar {
    opacity: .6;

    &:hover {
     opacity: .8;
    }

    .svg-inline--fa {
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    button {
        &:focus {
            outline: none;
        }
    }
}

.editor-preview {
    strong {
        font-weight: bolder;
    }

    em {
        font-style: italic;
    }

    h1 {
        margin-top: 0;
        margin-bottom: .5rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    ol, ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    ol {
        list-style-type: decimal;
    }

    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        text-decoration-skip: objects;
    }
}

.CodeMirror-code {
    line-height: 1.5;
}

.CodeMirror-placeholder {
    transition: opacity 0.3s;
    font-style: italic;
    opacity: 0.5;
}
