.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-item {
    display: none;
}

.slideshow-item > img {
    width: 100%;
}

.slideshow-prev, .slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background-color: rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slideshow-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow-prev:hover, .slideshow-next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slideshow-text {
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slideshow-numbertext {
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slideshow-dots {
    text-align: center;
}

.slideshow-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-active, .slideshow-dot:hover {
    background-color: #717171;
}

.slideshow-fade {
    -webkit-animation-name: slideshow-fade;
    -webkit-animation-duration: 1.5s;
    animation-name: slideshow-fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes slideshow-fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes slideshow-fade {
    from {opacity: .4}
    to {opacity: 1}
}
