.suggestify-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.suggestify-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.suggestify-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.suggestify-items div:hover {
    background-color: #e9e9e9;
}

.suggestify-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
