parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Service\StorageService:
        arguments:
            $storageFolder: '%env(STORAGE_DIR)%'
            $publicFolder: '%kernel.project_dir%/public'
            $assetsFolder: '%env(ASSETS_DIR)%'
