<div class="modal hide"
     tabindex="-1"
     aria-hidden="true"
     data-component="modal-time"
     data-action="{{ type }}"
     data-url="{{ path('crono_time_form') }}">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div data-component="time-form"></div>
            </div>
            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-primary text-white"
                        data-component="send-form"
                        data-url=""
                        data-method="">
                    Enviar
                </button>
                {% if type == 'edit' %}
                    <button type="submit"
                            class="btn btn-danger text-white"
                            data-component="remove-time">
                        Eliminar
                    </button>
                {% endif %}
                <button type="button" class="btn btn-secondary text-gray ml-auto" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
