<footer class="app-footer mt-4">
    <div class="container text-center">
        <small class="copyright">
            {{ 'now'|date('Y') }} |
            Desarrollado por <a class="app-link" href="https://jorgehrj.github.io" target="_blank">Jorge Hernández Ríos</a> |
            Diseño por <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
    </div>
</footer>
