<div id="app-sidepanel" class="app-sidepanel sidepanel-visible">
    <div id="sidepanel-drop" class="sidepanel-drop"></div>
    <div class="sidepanel-inner d-flex flex-column">
        <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">×</a>
        <div class="app-branding text-center pl-0">
            <a class="app-logo" href="{{ path('landing_index') }}">
                {{ source('icons/tools.svg') }}
                <span class="logo-text ml-2">TOOLBOX</span>
            </a>
            <hr>
        </div>
        <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
            <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('landing_index') }}">
                        <span class="nav-icon">
                            {{ source('icons/home.svg') }}
                        </span>
                        <span class="nav-link-text">Inicio</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
