<!DOCTYPE html>
<html>
<head>
    <title>Toolbox - Nueva cuenta de usuario</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<h2>¡Hola!</h2>
<p>Has sido invitado a usar Toolbox, por lo que se te ha creado un usuario para ello. Los datos son los siguientes:</p>
<ul>
    <li>Usuario: {{ email }}</li>
    <li>Contraseña: {{ password }}</li>
</ul>
<p>La contraseña es temporal y se te ha asignado aleatoriamente. Por favor, cámbiala lo antes posible.</p>
<p>
    ¡Espero que disfrutes de la herramienta! Puedes entrar a ella haciendo click
    <a href="{{ get_absolute_url(path('landing_index')) }}">aquí</a>.
</p>
<p>Jorge Hernández Ríos</p>
</body>
</html>
