name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  php-quality-checks:
    name: PHP Quality Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache Composer
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        id: install
        run: composer install --prefer-dist --no-progress --no-suggest --ignore-platform-reqs

      - name: PHP CS Fixer (PSR-12)
        if: always() && steps.install.outcome == 'success'
        run: vendor/friendsofphp/php-cs-fixer/php-cs-fixer fix src/ --rules=@PSR12 --diff --dry-run --using-cache=no

      - name: PHP Code Sniffer
        if: always() && steps.install.outcome == 'success'
        run: vendor/bin/phpcs --standard=PSR2 src

      - name: PHP Mess Detector
        if: always() && steps.install.outcome == 'success'
        run: vendor/bin/phpmd src/ text codesize,controversial,phpmd.xml

      - name: PHP Stan
        if: always() && steps.install.outcome == 'success'
        run: vendor/bin/phpstan analyse -c phpstan.neon

      - name: Twig Code Sniffer
        if: always() && steps.install.outcome == 'success'
        run: vendor/bin/twigcs templates

      - name: Lint YAML files
        if: always() && steps.install.outcome == 'success'
        run: bin/console lint:yaml config --parse-tags

      - name: Lint Twig templates
        if: always() && steps.install.outcome == 'success'
        run: bin/console lint:twig templates --env=prod

      - name: Lint Parameters and Services
        if: always() && steps.install.outcome == 'success'
        run: bin/console lint:container --no-debug

      - name: Lint Doctrine entities
        if: always() && steps.install.outcome == 'success'
        run: bin/console doctrine:schema:validate --skip-sync -vvv --no-interaction

      - name: Lint Composer config
        if: always() && steps.install.outcome == 'success'
        run: composer validate --strict

      - name: Download Symfony CLI
        if: always() && steps.install.outcome == 'success'
        run: wget https://get.symfony.com/cli/installer -O - | bash

      - name: Check if any dependencies are compromised
        if: always() && steps.install.outcome == 'success'
        run: /home/runner/.symfony/bin/symfony check:security

  php-tests:
    name: PHP Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache Composer
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        id: install
        run: composer install --prefer-dist --no-progress --no-suggest --ignore-platform-reqs

      - name: PHP Unit
        if: always() && steps.install.outcome == 'success'
        run: bin/phpunit

  js-quality-checks:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install modules
        run: yarn install

      - name: ESLint
        run: yarn run eslint assets/ --ext .js,.jsx,.ts,.tsx
